
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1.2rem;
}

/* Main Content Styles */
.about,
.portfolio,
.contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.about h2,
.portfolio h2,
.contact h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.portfolio .project {
    margin-bottom: 2rem;
}

.portfolio .project img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
